:root {
  --text-light: rgb(255, 242, 242);
  --text-color: rgb(141, 222, 158);
  --text-color-dark: rgb(63, 100, 71);
  --text-dark: black;
  --bg-grey: rgb(211, 211, 211);
  --bg-light: white;
  --bg-color: rgb(132, 208, 149);
  --bg-dark: black;

  --font-prime: "Montserrat", sans-sarif;
  --font-second: "Open Sans", sans-sarif;
}

html,
body {
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: var(--bg-light);
  font-family: var(--font-prime);
  color: var(--text-dark);
  height: 100%;
}

nav {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: var(--bg-grey);
}

a,
h1,
p,
h2,
h3,
h4,
h5 {
  margin: auto;
  font-family: var(--font-prime);
  color: var(--text-dark);
}


form {
  margin: auto;
  border-radius: 30px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 50%;
}

title,
.group-title,
.new-group-title,
.welcome-title,
.login-title,
.signup-title {
  color: var(--text-color);
  text-align: center;
}

.welcome-back-title,
.create-newpost-title,
.group-message,
.logged-in {
  text-align: center;
}

.cat-gif {
  margin: auto;
  display: block;
}

.form-control {
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  background: var(--bg-soft);
  background-size: cover;
  max-width: 70%;
  max-height: 100%;
}

.form-text {
  display: none;
}

textarea .form-control {
  margin: auto;
  display: flex;
  border: solid;
}


#id_group {
  height: 40px;
  /* width: 30%; */
  top: 77%;
  margin: auto;
  flex-direction: column;
  color: var(--text-dark);
}

.logo {
  object-fit: cover;
  width: 70px;
}

.btn-primary {
  background: var(--text-color);
}

.btn-warning {
  border-color: var(--bg-color);
  background: var(--bg-grey);
  display: block;
  margin: auto;
  /* text-align: center; */
  padding: 3px;
  width: 100%;

}

.navbar {
}

.nav-container {
  /* border: solid red; */
  width: 100%;
  justify-content: flex-start;
}

.group-title {
  position: center;
}

footer {
  background: var(--bg-light);
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

/* ******** Hover ************ */
input:hover {
  transition: background-color 2s;
  background: var(--bg-light);
}

a:hover {
  transform: scale(1.06);
}

.btn-primary:hover {
  background: var(--bg-color)
}

a:hover {
  color: var(--text-color-dark)
}

.btn-warning:hover {
  background: var(--bg-light)
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
 
}
