

:root {
  --text-light: rgb(255, 242, 242);
  --text-dark: black;
  --bg-light: white;
  --bg-dark: black;

  --font-prime: 'Raleway', sans-sarif;
  --font-second: 'Open Sans', sans-sarif;
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-light);
  color:white;
  height: 100vh;
}

a,
h1,
h2,
h3,
h4,
h5 {
  margin: auto;
  font-family: var(--font-prime);
  color: var(--text-dark);
}

header {
  height: 20vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;

}

form {
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
}

.form-control {
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-soft);
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

#id_group {
  height: 40px;
  width: 30%;
  top: 77%;
  margin: auto;
  flex-direction: column;
  color: var(--text-dark);
}

.btn-primary {
display: flex;

}

.btn {
  
}

footer {
  background: var(--bg-light);
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}


/* ******** Hover ************ */
input:hover {
  transition: background-color 2s;
  background: var(--bg-light);
}



